* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Epilogue', sans-serif;
    background-color: hsl(0, 0%, 98%);
}

.web-logo {
   width: 80%; 
}
.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: hsl(0, 0%, 41%);
    font-size: 14px;
}

.mobile-nav {
    display: none;
}

.left-bar {
    display: flex;
    list-style: none;
}

.left-bar li {
    margin: 10px;
}

.left-bar li:hover {
    color: hsl(0, 0%, 8%);
    cursor: pointer;
    transition: 22sec;
}

.right-bar {
    display: flex;
    list-style: none;
}
.right-bar li {
    margin: 10px 30px 10px 10px;
}

.right-bar li:hover {
    color: hsl(0, 0%, 8%);
    cursor: pointer;  
}

.lg-icon {
    margin: 0 0 2px 5px;
}

.right-bar button {
    width: 90px;
    height: 40px;
    margin-right: 15px;
    color: hsl(0, 0%, 41%);
    background-color: white;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid hsl(0, 0%, 41%);
}

.right-bar button:hover {
    color: hsl(0, 0%, 8%);
    cursor: pointer;
    border: 2px solid hsl(0, 0%, 8%);
}

.secondary-nav-1 {
    width: 128px;
    height: 135px;
    color: hsl(0, 0%, 41%);
    background-color: white;
    box-shadow: 1px 1px 40px hsl(0, 0%, 72%);
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    position: absolute;
    left: 70px;
}

.sec {
    margin: 10px;
    list-style-type: none;
}

.sec-icon {
  margin-right: 12px;
  width: 10%;
}

.secondary-nav-2 {
    width: fit-content;
    padding: 10PX;
    height: fit-content;
    color: hsl(0, 0%, 41%);
    background-color: white;
    font-size: 14px;
    border-radius: 15px;
    list-style: none;
    box-shadow: 1px 1px 40px hsl(0, 0%, 72%);
    position: absolute;
    left: 200px;
}

.secondary-nav-2 li {
    margin: 10px;
}

.secondary-nav-2 li:hover {
   cursor: pointer;
}

.hero-section {
    display: grid;
    grid-template-columns: 50% 50%;
}

.right-content h1 {
   font-size: 60px;
   margin-top: 40px ;
   margin-bottom: 50px;
   width: 73%;
}

.right-content p {
    width: 80%;
    margin-bottom: 25px;
    color: hsl(0, 0%, 41%);
    line-height: 1.5;
}

.right-content button {
    width: 170px;
    height: 50px;
    font-size: 16px;
    border: 1px solid hsl(0, 0%, 41%);
    color: hsl(0, 0%, 41%);
    border-radius: 15px;
    font-weight: 700;
    margin-bottom: 50px;
}

.right-content button:hover {
    color: hsl(0, 0%, 8%);
    border: 1px solid hsl(0, 0%, 8%);
    cursor: pointer;
}

.hero-section {
    margin: 90px;
}

.hero-img {
    width: 60%;
    margin-left: 120px;
    margin-top: 20px;
}


.contributors img{
   width: 15%;
   margin-left: 10px;
}

.visibility {
    display: none;
}

.lga-icon {
    transform: rotate(180deg);
}

.mobile-hero {
    display: none;
}



.mb-menu {
    display: none;
}

@media  (max-width: 375px) {
    .nav-main {
        display: none;
    }

     .mobile-nav {
        background-color: white;
        position: fixed;
        padding: 0px 15px;
        width: 200px;
        height: 100%;
        top: 0;
        right: 0;

     }

    .mobile-nav a {
        display: block;
        text-decoration: none;
        color: hsl(0, 0%, 41%);
    }

    .cancel-btn {
       margin: 20px 10px 20px 150px;
    }

    .mb-features {
        margin-bottom: 15px;
    }

    .mb-features img {
        margin-left: 10px;
    }

    .features-dropdown {
       margin-left: 30px;
    }

    .feature-sub-link {
        margin-bottom: 25px;
    }



    .mb-company {
        margin-bottom: 15px;
    }

    .mb-company img {
        margin-left: 10px;
    }

    .company-dropdown {
        margin-left: 30px;
    }

    .company-sub-link {
        margin-bottom: 25px;
    }

    .ca {
        margin-bottom: 20px;
    }


    .log-reg {
        text-align: center;
    }

    .mb-log {
        margin: 35px 0px 20px 0px;
    }

    .mb-reg  {
        width: 160px;
        background-color: white;
        height: 40px;
        border-radius: 15px;
        border: 2px hsl(0, 0%, 41%) solid;
        margin-bottom: 30px;

    }

    .hero-section {
        display: block;
        margin: 20px 10px 10px 30px;

    }
    
    .mobile-hero {
        display: block;
        width: 375px;
        margin: 15px 0px 0px 0px;
    }

    .left-content {
        display: none;
    }

    .right-content h1 {
        width: 100%;
        font-size: 30px;
        margin-top: 20px ;
        margin-bottom: 20px;
        text-align: center;
     }
     
     .right-content p {
         width: 95%;
         text-align: center;
         color: hsl(0, 0%, 41%);
         line-height: 1.5;
     }

     .right-content button {
        width: 120px;
        height: 50px;
        font-size: 16px;
        border: 1px solid hsl(0, 0%, 41%);
        color: hsl(0, 0%, 41%);
        border-radius: 15px;
        font-weight: 700;
        margin-bottom: 50px;
        }

     .learn-more {
        margin-left: 100px;
     }

     .contributors {
        margin-right: 8px;
     }

     .contributors img{
        width: 21%;
        margin-left: 10px;
     }

     .register{
       display: none;
     }

     .mb-menu {
        display: block;
        width: 80%;
        height: 40%;
        margin-top: 5px;
     }
}
